# Be ignored files and folders:
Informations/login.json
MYAPP.cflags
MYAPP.config
MYAPP.creator
MYAPP.creator.user
MYAPP.cxxflags
MYAPP.files
MYAPP.includes
myapp.spec
__pycache__
pysidedeploy.spec
SoftwareDecriptionDiagram.drawio
UI.pyproject.user
UI.pyproject.user.8eb8510
MYAPP.files
MYAPP.cflags
MYAPP.cflags
UI.pyproject.user.e8738d7
