# Be ignored files and folders:
Local/Informations/login.json
Local/MYAPP.cflags
Local/MYAPP.config
Local/MYAPP.creator
Local/MYAPP.creator.user
Local/MYAPP.cxxflags
Local/MYAPP.files
Local/MYAPP.includes
Local/myapp.spec
Local/Local/__pycache__
Local/pysidedeploy.spec
Local/SoftwareDecriptionDiagram.drawio
Local/UI.pyproject.user
Local/UI.pyproject.user.8eb8510
Local/MYAPP.files
Local/MYAPP.cflags
Local/MYAPP.cflags
Local/UI.pyproject.user.e8738d7
Local/__pycache__/Sensor.cpython-311.pyc
Local/__pycache__/Predict.cpython-311.pyc
Local/__pycache__/Sensor.cpython-311.pyc
Local/__pycache__/ui_form.cpython-311.pyc
Local/__pycache__/Server.cpython-311.pyc
Local/Imgs/Records
Local/Imgs/Records/
Local/Imgs/Records/*
